.section-new-session {
    background-color: var(--primary-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    & > h1 {
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    & > .section-inputs {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;

        & > form {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            gap: 10px;
            width: 230px;

            & > .extra-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--white);
                    font-size: 12px;

                    &:hover {
                        color: var(--green);
                    }
                    
                }
            }

            & > .actions {
                & > input {
                    background-color: var(--primary);
                    color: var(--white);
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    width: 100%;
                    padding: 8px 12px 8px 12px;
                }
            }

            & > .field-remember {
                display: flex;
                justify-content: start;
                align-items: center;
                color: var(--white);
                text-transform: uppercase;
                font-size: 12px;
                gap: 10px;
            }

            & > .field {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                width: 100%;

                

                & > label {
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 12px;
                }

                & > input {
                    padding-left: 5px;
                    padding-right: 5px;
                    border: solid 1px var(--primary-border);
                    border-radius: 5px;
                    background-color: #221a37;
                    color: var(--white);
                }
            }
        }

    }
        
}


/*************************/

.section-registration-session {
    background-color: var(--primary-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    & > h1 {
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    & > .section-inputs {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;

        & > form {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            gap: 10px;
            width: 250px;

            & > .extra-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--white);
                    font-size: 12px;

                    &:hover {
                        color: var(--green);
                    }
                    
                }
            }

            & > .actions {
                & > input {
                    background-color: var(--primary);
                    color: var(--white);
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    width: 100%;
                    padding: 8px 12px 8px 12px;
                }
            }

            & > .field-remember {
                display: flex;
                justify-content: start;
                align-items: center;
                color: var(--white);
                text-transform: uppercase;
                font-size: 12px;
                gap: 10px;
            }

            & > .field {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                width: 100%;


                & > em {
                    justify-self: start;

                    color: var(--white);
                    font-size: 8px;
                    text-transform: downcase;
                }
                

                & > label {
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 12px;
                }

                & > input {
                    padding-left: 5px;
                    padding-right: 5px;
                    border: solid 1px var(--primary-border);
                    border-radius: 5px;
                    background-color: #221a37;
                    color: var(--white);

                    &::placeholder {
                        color: var(--white);
                        opacity: 0.6;
                        font-size: 10px;
                    }
                }
            }
        }

    }
}





/********************************/


.section-forgot-password{
    background-color: var(--primary-darker);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    & > h1 {
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 10px;
        font-size: 20px;
    }

    & > .section-inputs {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-content: center;

        & > form {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-content: center;
            gap: 10px;
            width: 250px;

            & > .extra-buttons {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & > a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--white);
                    font-size: 12px;

                    &:hover {
                        color: var(--green);
                    }
                    
                }
            }

            & > .actions {
                & > input {
                    background-color: var(--primary);
                    color: var(--white);
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    width: 100%;
                    padding: 8px 12px 8px 12px;
                }
            }

            & > .field-remember {
                display: flex;
                justify-content: start;
                align-items: center;
                color: var(--white);
                text-transform: uppercase;
                font-size: 12px;
                gap: 10px;
            }

            & > .field {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                width: 100%;


                & > em {
                    justify-self: start;

                    color: var(--white);
                    font-size: 8px;
                    text-transform: downcase;
                }
                

                & > label {
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 12px;
                }

                & > input {
                    padding-left: 5px;
                    padding-right: 5px;
                    border: solid 1px var(--primary-border);
                    border-radius: 5px;
                    background-color: #221a37;
                    color: var(--white);

                    &::placeholder {
                        color: var(--white);
                        opacity: 0.6;
                        font-size: 10px;
                    }
                }
            }
        }

    }
}

