// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.section-profile-body{
    background-color: var(--primary-darker);
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    gap: 10px;
    height: 100vh;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    & > h1 {
        color: var(--white);
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    & > .inputs-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        width: auto;
        align-self: center;
        justify-self: center;

        
        & > form {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 5px;
            width: 232px;

            & > .inputs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: start;
    
                width: 100%;
    
                & > .label-input {
                    color: var(--white);
                    text-transform: uppercase;
                    font-size: 12px;
                }
    
                & > input {
                    padding-left: 5px;
                    padding-right: 5px;
                    border: solid 1px var(--primary-border);
                    border-radius: 5px;
                    background-color: #221a37;
                    color: var(--white);
                }
            }
        }

        & > form > #submit-button {
            background-color: var(--primary);
            color: var(--white);
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
            padding: 8px 12px 8px 12px;
        }

    }
}